@charset "utf-8";
._category_tit { height: 36px; width: 1190px; margin: auto; margin-top: 15px; line-height: 34px;}
	._category_tit a { font-size: 18px; color: #fff; outline: none;}
	._category_tit a:hover { color: #9bdef6;}
	._category_tit span { float: left; width: 239px; text-align: center;}
	._category_tit span#_te { width: 300px; font-size: 18px; color: #fff; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-left: 85px;}
	
body ._sub-cat { height: 73px; background: #b8d681 url(../_images/icon.png) no-repeat 0px 0px; border-radius: 5px; box-shadow: 0px 3px 3px #d1ddc9;}
body ._sub-cat ul { padding-top: 10px;}
body ._sub-cat ul li { height: 55px; line-height: 94px;}
body ._sub-cat ul li a { font-size: 12px; display: block;}

body ._w230 { height: 41px; margin-top: -50px; background: url(../images/new/ngohome.jpg) no-repeat center -27px; border-radius: 5px;}

body .__w230 { margin-top: -86px; width: 223px;}
body ._car { height: 72px; width: 227px; background: url(../_images/nmycart.jpg); margin: -3px 0px 0px -3px; border-radius: 5px; box-shadow: 0 3px 3px #d1ddc9;}
body ._total { border-radius: 5px; width: 189px; height: 51px; display: block; overflow: hidden; margin: auto;}

body ._btns { width: 1190px; margin: auto; margin-top: 15px;}
body ._btns input { border: solid 1px #8fc31f; height: 26px; width: 93px; border-radius: 5px; background: #fff; color: #8fc31f; margin-right: 5px; outline: none;}

body ._goods-name {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

body .list-goods ._goods-btnbuy { background: none; padding-bottom: 12px;}
body .list-goods .goods-btnbuy a._addtocart { border: solid 1px #f6643d; border-radius: 5px; height: 33px; width: 92px; color: #f6643d; display: inline-block; line-height: 32px;}

body .list-goods ._goods-btnbuy ._dgi input{ width: 30px; height: 33px; padding: 0px; margin: 0px; border: 0px; float: left;}
body .list-goods ._goods-btnbuy ._dgi .decr { /*border: solid 1px #f6643d; border-radius: 5px 0px 0px 5px;*/ background: url(../_images/j_11_0.png) no-repeat center center; outline: none; text-indent: -10px;}
body .list-goods ._goods-btnbuy ._dgi .goods-numb { border: solid 1px #b8d681; margin-left: -1px; margin-top: 2px; height: 26px; width: 26px; border-radius: 5px; color: #a2a2a2; line-height: 26px;}
body .list-goods ._goods-btnbuy ._dgi .incr { /*border: solid 1px #8fc31f; border-radius: 0px 5px 5px 0px;*/ margin-left: -1px; background: url(../_images/j_03_0.png) no-repeat center center; outline: none; text-indent: -10px;}
body .list-goods ._goods-btnbuy table { margin-left: 12px;}
body .list-goods ._goods-btnbuy ._adc { padding-left: 10px;}

body .pagebar { float: none; margin-left: -1px;}
body .f_l { margin-left: 10px;}

body ._w944 { width: 934px;}

body ._weitiao { margin-left: -3px;}

body ._list_goods { position: relative;}
body ._list_goods_bg { position: absolute; width: 235px; height: 352px; background: #f5f5f5; border-radius: 5px; top: -5px; left: -5px; z-index: -1; display: none;}
body ._dgi_con { border: solid 1px #b8d681; border-radius: 5px;}



