@charset "utf-8";

body ._goodspagebox { width: 1192px;}
body ._goods_detail { background: #fbfbfb; border-radius: 5px; box-shadow: 0px 0px 6px #e8e8e8; border: solid 1px #e2e2e2;}
body ._goods_imgbox { height: auto; margin-top: 18px; margin-left: 26px;}
body ._goods_imgbox_a { display: block;}
body ._goods_imgbox ._imginfo { border: 0px;}
body ._goods_imgbox ._imgbox { margin-top: 18px; margin-bottom: 28px;}
body ._goods_imgbox ._imgbox ._gallery { margin-left: 12px;}
body ._goods_imgbox ._imgbox ._gallery li img { border: 0px;}
body ._goods_imgbox ._imgbox ._gallery li { margin-right: 9px;}
body ._goods_infobox { width: 660px; margin-right: 72px; background: none;}
body ._goods_infobox ._goods_title { font-size: 44px; font-weight: bold; color: #6d6d6d; margin: 0px; line-height: normal; margin-top: 35px; height: 100px; width: 660px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal;}
body ._goods_infobox ._goods_price { background: none; padding: 0px; height:auto; line-height: normal; margin-top: 30px;}
